:root {
	/* - Main (darker to lighter) - */
	--text-color-main: 255, 255, 255;
	--text-color-main-reverse: 25, 25, 25;
	/* --text-color-alt: 170, 170, 238; */
	--text-color-alt: 180, 180, 240;

	--background-color-0: 24, 24, 41;
	--background-color-1: 50, 50, 87;
	--background-color-2: 72, 72, 102;
	--background-color-3: 94, 94, 136;
	--background-color-focus: 75, 72, 217, 0.3;
	--background-color-header: 55, 57, 143;

	--background-color-strength-li-1: 36, 186, 22;
	--background-color-strength-li-2: 27, 155, 22;
	--background-color-strength-li-3: 17, 123, 21;

	--background-color-weakness-li-1: 186, 36, 22;
	--background-color-weakness-li-2: 155, 27, 22;
	--background-color-weakness-li-3: 123, 17, 21;

	--border-color-0: 75, 72, 217;
	--border-color-1: 109, 106, 251;
	--border-color-contrast: 120, 120, 165;

	--box-shadow-window: 0 0 20px black;
	--box-shadow-element: 0 0 20px rgba(0, 0, 0, 0.6);
	--color-shadow-element: rgba(0, 0, 60, 0.6);
	--color-shadow-window: rgb(0, 0, 60);

	/* - Process states (errors ; warning ; success) - */
	/* TOTK */
	--text-color-error: 255, 66, 66;
	--border-color-error: 255, 66, 66;
	--background-color-error: 255, 66, 66;

	/* error */

	--text-color-soft-error-main: 223, 200, 200;
	--text-color-soft-error-alt: 223, 98, 98;
	--border-color-soft-error: 223, 98, 98;
	--background-color-soft-error: 223, 98, 98;

	/* warning */

	--background-color-warning-0: 140, 45, 54;
	--background-color-warning-1: 214, 63, 70;
	--background-color-warning-2: 255, 51, 0;

	/* success */

	--background-color-success: 0, 255, 56;
	--border-color-success: 98, 207, 122;

	/* - Others - */
	--background-color-selection: 4, 98, 210;

	--background-color-streak-0: 255, 15, 0;
	--background-color-streak-1: 255, 150, 0;

	--box-shadow-color-scrollbar-track: 199, 199, 255, 0.133;
	--box-shadow-color-scrollbar-thumb: 118, 118, 162;
	--box-shadow-color-scrollbar-thumb-on-hover: 143, 141, 185;

	--alpha-shadow-color-scroll-shaded-div: 0.3;

	--color-very-good: 0, 255, 200;
	--color-very-good-background: 0, 255, 200, 0.1;
	--color-good: 0, 255, 0;
	--color-good-background: 0, 255, 0, 0.1;
	--color-average: 200, 255, 52;
	--color-average-background: 200, 255, 41, 0.1;
	--color-bad: 255, 165, 0;
	--color-bad-background: 255, 165, 0, 0.1;
	--color-very-bad: 255, 153, 153;
	--color-very-bad-background: 153, 1, 1, 0.1;
	/* - font - */
	--font-size-12: 1.2rem;
	--font-size-13: 1.3rem;
	--font-size-14: 1.4rem;
	--font-size-15: 1.5rem;
	--font-size-16: 1.6rem;
	--font-size-18: 1.8rem;
	--font-size-20: 2rem;
	/* window content */
	--font-size-24: 2.4rem;
	/* window header */
	--font-size-32: 3.2rem;
	--font-size-36: 3.6rem;
	--font-size-42: 4.2rem;
	--font-size-48: 4.8rem;
	--font-weight-regular: 400;
	--font-weight-semi-bold: 600;
	--font-weight-extra-bold: 800;

	--font-family: Inter, sans-serif;
	/* Default value */

	--background-color-canarman-main: 50, 50, 87;

	/*pour que 1rem = 10px*/
	font-size: 0.625em;
}

:root,
#page,
h3.panel-title,
#tzA6 {
	background: rgb(var(--background-color-0)) !important;
	text-transform: none !important;
}

#tzA6 {
	translate: 0 5vh !important;
}

* {
	color: white !important;
	font-family: var(--font-family) !important;
}

div.pos2>div.pos3>table {
	width: 300px !important;
}

div.pos2>div.pos3>table>tbody>tr>td>h1 {
	translate: -2vw;
	font-size: var(--font-size-36) !important;
}

input::placeholder {
	color: rgb(var(--text-color-alt));
}

input {
	border: none;
	font-size: var(--font-size-18) !important;
	padding: 10px 0 !important;
	background-color: transparent !important;
	color: rgb(var(--text-color-main)) !important;
	font-family: var(--font-family) !important;
}

button {
	display: flex !important;
	margin: 0 auto !important;
	margin-bottom: 0px !important;
	font-size: var(--font-size-18) !important;
	font-weight: var(--font-weight-semi-bold) !important;
	padding: 10px 15px !important;
	min-width: 0 !important;
	border: 2px solid rgb(var(--border-color-0)) !important;
	border-radius: 15px !important;
	background-color: transparent !important;
	color: rgb(var(--text-color-main)) !important;
	outline: none !important;
	transition: 0.1s !important;
	cursor: pointer !important;
	justify-content: center !important;
	align-items: center !important;
}

td>input {
	border: 2px solid rgb(var(--border-color-0)) !important;
	border-radius: 15px !important;
	padding: 0 !important;
	display: flex !important;
	flex-flow: row nowrap !important;
	justify-content: space-between !important;
	width: 100% !important;
	height: 3em !important;
	overflow: hidden !important;
	transition: 0.1s !important;
	padding-left: 1vw !important;
}

label[for="A9"] {
	font-size: var(--font-size-17);
}

.l-4.wbFocus,
.l-4:focus {
	box-shadow: none !important;
	outline: none !important;
}

:root::selection {
	background: rgba(var(--background-color-selection), 0.4) !important;
}

img {
	user-select: none;
}