:root.edp {
  /* - Main (darker to lighter) - */
  --text-color-main: 255, 255, 255;
  --text-color-main-reverse: 25, 25, 25;
  /* --text-color-alt: 170, 170, 238; */
  --text-color-alt: 180, 180, 240;

  --background-color-0: 24, 24, 41;
  --background-color-1: 50, 50, 87;
  --background-color-2: 72, 72, 102;
  --background-color-3: 94, 94, 136;
  --background-color-focus: 75, 72, 217, 0.3;
  --background-color-header: 55, 57, 143;

  --background-color-strength-li-1: 36, 186, 22;
  --background-color-strength-li-2: 27, 155, 22;
  --background-color-strength-li-3: 17, 123, 21;

  --background-color-weakness-li-1: 186, 36, 22;
  --background-color-weakness-li-2: 155, 27, 22;
  --background-color-weakness-li-3: 123, 17, 21;

  --border-color-0: 75, 72, 217;
  --border-color-1: 109, 106, 251;
  --border-color-contrast: 120, 120, 165;

  --box-shadow-window: 0 0 20px black;
  --box-shadow-element: 0 0 20px rgba(0, 0, 0, 0.6);
  --color-shadow-element: rgba(0, 0, 60, 0.6);
  --color-shadow-window: rgb(0, 0, 60);

  /* - Process states (errors ; warning ; success) - */
  /* TOTK */
  --text-color-error: 255, 66, 66;
  --border-color-error: 255, 66, 66;
  --background-color-error: 255, 66, 66;

  /* error */

  --text-color-soft-error-main: 223, 200, 200;
  --text-color-soft-error-alt: 223, 98, 98;
  --border-color-soft-error: 223, 98, 98;
  --background-color-soft-error: 223, 98, 98;

  /* warning */

  --background-color-warning-0: 140, 45, 54;
  --background-color-warning-1: 214, 63, 70;
  --background-color-warning-2: 255, 51, 0;

  /* success */

  --background-color-success: 0, 255, 56;
  --border-color-success: 98, 207, 122;

  /* - Others - */
  --background-color-selection: 4, 98, 210;

  --background-color-streak-0: 255, 15, 0;
  --background-color-streak-1: 255, 150, 0;

  --box-shadow-color-scrollbar-track: 199, 199, 255, 0.133;
  --box-shadow-color-scrollbar-thumb: 118, 118, 162;
  --box-shadow-color-scrollbar-thumb-on-hover: 143, 141, 185;

  --alpha-shadow-color-scroll-shaded-div: 0.3;

  --color-very-good: 0, 255, 200;
  --color-very-good-background: 0, 255, 200, 0.1;
  --color-good: 0, 255, 0;
  --color-good-background: 0, 255, 0, 0.1;
  --color-average: 200, 255, 52;
  --color-average-background: 200, 255, 41, 0.1;
  --color-bad: 255, 165, 0;
  --color-bad-background: 255, 165, 0, 0.1;
  --color-very-bad: 255, 153, 153;
  --color-very-bad-background: 153, 1, 1, 0.1;
  /* - font - */
  --font-size-12: 1.2rem;
  --font-size-13: 1.3rem;
  --font-size-14: 1.4rem;
  --font-size-15: 1.5rem;
  --font-size-16: 1.6rem;
  --font-size-18: 1.8rem;
  --font-size-20: 2rem;
  /* window content */
  --font-size-24: 2.4rem;
  /* window header */
  --font-size-32: 3.2rem;
  --font-size-36: 3.6rem;
  --font-size-42: 4.2rem;
  --font-size-48: 4.8rem;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-extra-bold: 800;

  --font-family: Inter, sans-serif;
  /* Default value */

  --background-color-canarman-main: 50, 50, 87;

  /*pour que 1rem = 10px*/
  font-size: 0.625em;

  /* Animation */
  --timing-function-spring-effect: cubic-bezier(0.18, 0.89, 0.32, 1.27);
}

* {
  font-family: var(--font-family) !important;
}

@keyframes proxy-error-notification-pop-in {
  0% {
    transform: translate(-50%, calc(-100% - 15px));
  }
  100% {
    transform: translate(-50%);
  }
}

body {
  background-image: none !important;
  background-color: rgb(var(--background-color-0)) !important;
  overflow-x: hidden;
}

main#main {
  height: 100vh;
  width: 100vw;
  padding: 1% 1%;
}

header {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#form-container > form {
  display: grid;
  width: 100vw;
  max-width: 480px;
  background-color: rgb(var(--background-color-1));
  margin-top: 5vh;
  box-shadow: var(--box-shadow-window);
  padding: 0 4vw;
  border-radius: 20px;
}

#form-container {
  display: flex;
  justify-content: center;
}

p {
  color: rgb(var(--text-color-main)) !important;
  font-size: var(--font-size-18) !important;
}

form > h1 {
  color: rgb(var(--text-color-main)) !important;
  font-size: var(--font-size-32) !important;
  font-weight: var(--font-weight-extra-bold) !important;
  margin: 3rem 0px 3.5rem;
  text-align: center;
}

#image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.invalid {
  background-color: rgba(var(--background-color-soft-error), 0.2);
  box-shadow: var(--box-shadow-window);
  position: fixed;
  top: 4vh;
  left: 50%;
  transform: translate(-50%, calc(-100% - 10px));
  text-align: center;
  width: max-content;
  max-width: 80vw;
  color: rgb(var(--text-color-soft-error-alt));
  cursor: default;
  z-index: 50;
  padding: 10px;
  border: 2px solid rgb(var(--background-color-soft-error));
  border-radius: 10px;
  animation: proxy-error-notification-pop-in 0.3s
    var(--timing-function-spring-effect) forwards;
  transition: background-color 0.2s;
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-regular);
}

button#refresh {
  max-height: 100px;
  min-height: 60px;
  height: 7vh !important;
  margin-bottom: 1vh;
}

button[type="submit"] {
  margin-top: 4vh !important;
  margin-bottom: 4vh !important;
}

:root.edp input::placeholder {
  color: rgb(var(--text-color-alt));
}

:root.edp input {
  border: none;
  font-size: var(--font-size-18) !important;
  padding: 10px 0 !important;
  background-color: transparent !important;
  color: rgb(var(--text-color-main)) !important;
  font-family: var(--font-family) !important;
}

:root.edp button {
  display: flex !important;
  margin: 0 auto;
  margin-bottom: 0px;
  font-size: var(--font-size-18) !important;
  font-weight: var(--font-weight-semi-bold) !important;
  padding: 10px 15px !important;
  min-width: 0 !important;
  border: 2px solid rgb(var(--border-color-0)) !important;
  border-radius: 15px !important;
  background-color: transparent !important;
  color: rgb(var(--text-color-main)) !important;
  outline: none !important;
  transition: 0.1s !important;
  cursor: pointer !important;
  justify-content: center !important;
  align-items: center !important;
}

:root.edp input {
  border: 2px solid rgb(var(--border-color-0)) !important;
  border-radius: 15px !important;
  padding: 0 !important;
  display: flex !important;
  flex-flow: row nowrap !important;
  justify-content: space-between !important;
  width: 100% !important;
  height: 3em !important;
  overflow: hidden !important;
  transition: 0.1s !important;
  padding-left: 1vw !important;
}

footer {
  position: absolute;
  bottom: 1vh;
}

:root.edp::selection {
  background: rgba(var(--background-color-selection), 0.4) !important;
}

:root.edp img {
  user-select: none;
}
